.users-login{
    background: linear-gradient(90deg,#dcf9ff 84%,#ffffff);
}
.users-login .content{
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.users-login .content span{
    font-size: 144px;
    font-weight: 800;
    color: #cc1111;
}
.users-login .page-wrapper{
    margin: 12% auto auto auto
}
.users-login .page-wrapper .content-wrapper{
    align-content: center;
}
.log-head{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    letter-spacing: 4px;
}
label{
    font-size: 20px;
}
.extra-info{
    letter-spacing: 1px;
}
.extra-info a{
    text-decoration: none;
}

.client-img{
    transform: scaleX(-1) rotate(-25deg);
    float: inline-end;
}
.reg-head{
    color: #a4a4a4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    letter-spacing: 4px;
}
.extra-info-reg{
    letter-spacing: 2px;
    font-weight: 500;
    font-size: medium;
}
.extra-info-reg a{
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
}

.otpBody{
    background: linear-gradient(-90deg, #00f2ff6a , #ffe10069);
}
.otp-head{
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.otp-note-head{
    color: #000;
    font-weight: 500;
    font-size: 24px;
    text-align: left;
}
.otp-note{
    color: #767676;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
}
.wrapper{
    margin-top: 24%;
}
.error{
    color: #ff0000;
    font-size: 16px;
}